<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre Home</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7633eb6bf7.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="headerFondo">
        <img class="header__logo" src="/images/logo-mercado-liebre.svg" alt="">
        <ul class="headerBuscarProductos">
            <h3>Buscar productos, marcas</h3></ul>
        <button class="header__icono">
        <i class="fa-solid fa-magnifying-glass"></i>
    </button>
    
    <h4 class="icono__mano">
        <i class="fa-solid fa-hand-holding-dollar"></i>
        Compra en cuotas y sin tarjeta de crédito
    </h4>
<nav class="header__menu">
    <h4>
        Ofertas <br>
        Tiendas Oficiales <br>
        Vender <br>
        Ayuda
    </h4>
   
    <h4>
        Creá tu cuenta<i class="fa-solid fa-id-card"></i> <br>
        Ingresá<i class="fa-solid fa-right-to-bracket"></i> <br>
       Mis compras<i class="fa-solid fa-basket-shopping"></i>
    </h4>
    <button class="header__burger-menu">
        <i class="fas fa-bars"></i>
    </button>
</nav>


</header>
    <main class="home__main">
        <section>
            <img src="/images/img-home-banner.jpg" alt=""width="100%">
        </section>
<section class="Section_Ultimavisita">
    <h2>Basado en tu última visita</h2>
</section>
<section class="home__main__productos">
<article class="home__main__article">
    <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera"width="100%">
    <div class="home__main__article--info">
        <i class="fa-solid fa-truck"></i>
        <h3>$6.770</h3>
        <p>40% OFF</p>
        <h4>Cafetera Moulinex</h4>
    </div>

    <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019"width="100%">
    <div class="home__main__article--info">
        <i class="fa-solid fa-truck"></i>
        <h3>$230.000</h3>
        <p>20% OFF</p>
        <h4>MacBook Pro 2019</h4>
    </div>
   
    <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10"width="100%">
    <div class="home__main__article--info">
        <i class="fa-solid fa-truck"></i>
        <h3>$70.500</h3>
        <p>10% OFF</p>
        <h4>Samsung Galaxy S10</h4>
    </div>
    
    <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43"width="100%">
    <div class="home__main__article--info">
        <i class="fa-solid fa-truck"></i>
        <h3>$23.200</h3>
        <p>5% OFF</p>
        <h4>SmartTv Samsung 43"</h4>
    </div>
   
</article>
</section>
      </main>

    
    <footer>
<article class="article__ofertas">
<div class="div__iconos">
    <i class="fa-solid fa-credit-card"></i>
</div>
    <h4>
        Pagá con tarjeta o en efectivo
    </h4>
    <p> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>

    <div class="div__iconos">
        <i class="fa-solid fa-gift"></i>
    </div>
    <h4>
        Envío gratis desde los $2.500
    </h4>
    <p>Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de productos. Es un beneficio de MercadoPuntos</p>

    <div class="div__iconos">
        <i class="fa-solid fa-user-shield"></i> 
    </div>
    <h4>
        Seguridad, de principio a fin
    </h4>
    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@. 
    </p>

    <h4>
        Copyright © 1999-2020 MercadoLiebre S.R.L.
    </h4>
</article>
    </footer>
</body>
</html>


