   body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
   }
   .headerFondo{
    width: 100%;
    margin: 0%;
    background-color:#EAC926 ;
   
    }
    .header__logo{
        width: 180px;
        margin: 30px;
    }
     /* buscar productos, marcas */
     .headerBuscarProductos{
        width: 60%;
        background-color: white;
        border: solid 1px #666;
        border-radius: 4%;
        color:#666;
        font-size: 14px;
        padding: 1px;
         }
         .header__icono{
            background-color: white;
            border: solid 2px #666;
           }
           .header__menu{
           display: none;
           }

         .header__burger-menu{
            background-color: #1259c3;
            margin: 0 auto 30px;
            display: block;
            border: none;
            width: 40px;
            height: 40px;
            font-size: 22px;
            color: white;
            border-radius: 10%;
        }
        
        .icono__mano{
        text-align: center;
        }

    .article__ofertas{
        text-align: center;
        margin-top: 10%;
    }
    .div__iconos{
      color:#1259c3;
       font-size: 28px;
    }

.home__main__section{
    text-align: center;
   
}
.home__main{
    background-color: white;
}
.home__main__article--info{
    border-top: 2px solid #ebebeb;
    padding: 15px;
}
.home__main__article--info i{
    border-radius: 50%;
    border: solid 1px #39b54a;
    color: #39b54a;
    padding: 5px;
}
.home__main__article--info p{
    color: #39b54a;
    font-size: 18px;
}
.home__main__article--info h4{
    color:  #666;
    display: none;
}
/* tablet */
@media (min-width:361px){
    .home__main__article--info h4{
        color:  #666;
        display: block;
         }
}
/* deskop */
@media (min-width:769px){
    .home__main__article--info h4{
        color:  #666;
        display: block;
    }
}

.home__main__article{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
@media (min-width:361px){
    .header__menu{
        display: block;
        }
}